@import "tailwindcss";

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

:root {
  --font-barlow: "Barlow", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --color-latar: #f3f4f6;
  --color-teks: #374151;
  --color-teks-samping: #6b7280;
  --color-garis: #e5e7eb;
  --color-hijau: #00B074;
  --color-merah: #ef4444;
  --color-biru: #3b82f6;
  --color-kuning: #f59e0b;
}

@layer utilities {
  .font-barlow {
    font-family: var(--font-barlow);
  }

  .font-poppins {
    font-family: var(--font-poppins);
  }

  .bg-hijau {
    background-color: var(--color-hijau);
  }

  .text-hijau {
    color: var(--color-hijau);
  }
}

body {
  font-family: var(--font-barlow);
}
